<div class="navbar navbar-default navbard-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">EF Test</a>
	</div>
	<div class="navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="https://github.com/joshthedudeoflife">Github</a></li>
			<li><a href="http://www.linkedin.com/pub/joshua-chou/10/552/200">LinkedIn</a></li>
			<li><a href="https://twitter.com/JoshuaChou1">Twitter</a></li>
			<li><a href="https://blooming-oasis-2511.herokuapp.com/">Lifeback</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">weShare Home</a></li>
					<li><a href="#">Your Project Page</a></li>
					<li><a href="#">Log Out</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="body">
<%= image_tag("Stay.png", :class=>"img-responsive") %>
</div>
</div>
<p>gonna use this to start my log over-due bio/porfolio site</p>
